.main-profile-container{
    width: 100%;
    background-color: white;
    margin: auto;
    position: relative;
    padding : 20px;
    border : 1px solid;
    border-radius: 20px;
}

.badge-container{
    width: 100%;
    margin: auto;
}

.my-page-badge-des{
    font-size: 16px;
  
    @media screen and (max-width : 470px) {
      font-size: 14px;
    }
    @media screen and (max-width : 380px) {
      font-size: 12px;
    }
  }

.locked-badges{
    width: 100%;
    border: 1px solid;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;

    @media screen and (max-width : 400px) {
        font-size: 12px;
    }
    @media screen and (max-width : 250px) {
        font-size: 10px;
    }
}